body {
  font-family: "Lato", sans-serif;
  background: whitesmoke;
}

.carousel-item img {
  max-height: 60vh;
  object-fit: cover;
  object-position: center;
}

.card-product:hover h2,
.card-product:hover h4 {
  background: #0d6efd !important;
  color: #f1f1f1 !important;
  color: rgba(137, 174, 255, 0.678);
}
.imgContainer img {
  height: 260px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.menuLain .imgContainer img {
  height: 20vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.iconContainer img.icon {
  height: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.sectionMenu a,
.produk a,
.menuLain a {
  text-decoration: none;
}

/* DETAIL PRODUK */
.buttonsQty {
  display: flex;
  justify-content: space-between;
  width: 8rem;
}
#qty {
  max-width: 3rem;
  text-align: center;
  border: 0;
}
