body {
  font-family: "Lato", sans-serif;
  background: whitesmoke;
}

.carousel-item img {
  max-height: 60vh;
  object-fit: cover;
  object-position: center;
}
.imgContainer img {
  height: 260px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.menuLain .imgContainer img {
  height: 20vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.iconContainer img.icon {
  height: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.sectionMenu a,
.produk a,
.menuLain a {
  text-decoration: none;
}
